<link href="/stylesheets/views/courseDetail.css" rel="stylesheet" type="text/css" />
<div class="kt-container kt-grid__item kt-grid__item--fluid" id="app">
  <div class="kt-subheader kt-grid__item">
    <div class="kt-container">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"></h3>
      </div>
    </div>
  </div>

  <div class="kt-portlet">
    <div class="kt-portlet__body">
      <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
          <div class="kt-widget__media">
            <img :src="courseModel.detail.technologyThumbnail" alt="image">
          </div>
          <div class="kt-widget__content">
            <div class="kt-widget__head">
              <h4>
                <span v-text="courseModel.detail.courseName"></span>
                <span class="kt-badge kt-badge--inline"
                  :class="{'kt-badge--info': courseModel.detail.dataStatus == 0, 'kt-badge--success': courseModel.detail.dataStatus == 1, 'kt-label-bg-color-1 font-color-white': courseModel.detail.dataStatus == 2}"
                  v-text="courseModel.detail.dataStatusText"></span>
              </h4>

              <div class="kt-widget__action"
                v-if="commonModel.loginUser != null && courseModel.detail.dataStatus != 2">
                <button v-cloak type="button"  id="btnApplyCourse" class="btn btn-primary btn-lg btn-wide"
                  v-if="commonModel.applied == false" @click="onApplyCourse()">
                  确认报名
                </button>
                <h4 v-cloak v-if="commonModel.applied == true" class="kt-font-success">
                  已报名
                </h4>
              </div>
            </div>
            <div class="kt-widget__subhead">
              <span>
                <i class="fa fa-home"></i>
                <span v-text="courseModel.detail.universityName"></span>
              </span> &nbsp;
              <span>
                <i class="fa fa-graduation-cap"></i>
                <span v-text="courseModel.detail.schoolName"></span>
              </span> &nbsp;
              <span>
                <i class="fa fa-chalkboard-teacher"></i>
                <span v-text="courseModel.detail.teacherName"></span>
              </span>
            </div>
            <div class="kt-widget__info">
              <div class="kt-widget__desc course-decs-2" :title="courseModel.detail.courseIntroduction"
                v-text="courseModel.detail.courseIntroduction"></div>
              <div class="kt-widget__stats d-flex align-items-center flex-fill">
                <div class="kt-widget__item kt-padding-t-0">
                  <div class="kt-widget__label">
                    <span class="btn btn-label-brand btn-sm btn-bold btn-upper"
                      v-text="courseModel.detail.courseTimeBegin"></span>
                  </div>
                </div>
                <div class="kt-widget__item kt-padding-t-0">
                  <div class="kt-widget__label">
                    <span class="btn btn-label-danger btn-sm btn-bold btn-upper"
                      v-text="courseModel.detail.courseTimeEnd"></span>
                  </div>
                </div>
                <div class="kt-widget__item flex-fill kt-padding-t-0">
                  <div class="kt-widget__progress d-flex  align-items-center">
                    <div class="progress" style="height: 5px;width: 100%;">
                      <div class="progress-bar kt-bg-success" role="progressbar"
                        :style="{'width': courseModel.detail.courseProcess}" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span class="kt-widget__stat" v-text="courseModel.detail.courseProcess"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-widget__bottom">
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="fa fa-handshake"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">使用企业</span>
              <span class="kt-widget__value" v-text="courseModel.detail.courseTechnologyUsingCompanyCount"></span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon-list-3"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">覆盖知识点</span>
              <span class="kt-widget__value"
                v-text="courseModel.detail.courseKnowledgeCount + ' / ' + courseModel.detail.technologyKnowledgeCount"></span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon-list"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">编程练习</span>
              <span class="kt-widget__value" v-text="courseModel.detail.courseKnowledgeExercisesCount">
              </span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon2-user"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">报名学生</span>
              <span class="kt-widget__value" v-text="courseModel.detail.courseSingUpCount">
              </span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon-chat-1"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">在线提问</span>
              <span class="kt-widget__value"
                v-text="courseModel.detail.courseQuestionFinish + ' / ' + courseModel.detail.courseQuestion"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              课程详细信息
            </h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          <ul class="nav nav-tabs  nav-tabs-line tab-course-detail" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#kt_tabs_1">基本信息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_2" role="tab" aria-selected="false">课程表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_3" role="tab" aria-selected="false">授课计划</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_4" role="tab" aria-selected="false">报名同学</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_8" role="tab" aria-selected="false">随堂练习</a>
            </li>
            <li class="nav-item">
              <a class="nav-link kt-font-primary kt-font-bolder" data-toggle="tab" href="#kt_tabs_5" role="tab"
                aria-selected="false">我的练习</a>
            </li>
            <li class="nav-item" v-if="courseOtherExercisesModel.isShow === true">
              <a class="nav-link tab-label-color-2 kt-font-bolder" data-toggle="tab" href="#kt_tabs_6" role="tab"
                aria-selected="false">小小助教</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-label-color-3 kt-font-bolder" data-toggle="tab" href="#kt_tabs_7" role="tab"
                aria-selected="false">在线提问/答疑</a>
            </li>
          </ul>
          <div class="tab-content course-detail">
            <div class="tab-pane active" id="kt_tabs_1" role="tabpanel">
              <form name="baseForm" class="kt-form kt-form--label-right">
                <div class="kt-portlet__body">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">课程名称</label>
                    <div class="col-10">
                      <label class="col-form-label" v-text="courseModel.detail.courseName"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">授课时间</label>
                    <div class="col-10">
                      <label class="col-form-label" v-text="courseModel.detail.courseTimeBegin"></label>
                      ～
                      <label class="col-form-label" v-text="courseModel.detail.courseTimeEnd"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">课程简介</label>
                    <div class="col-10">
                      <p class="col-form-label ellipsis-5 course-introduction" :title="courseModel.detail.courseIntroduction" v-text="courseModel.detail.courseIntroduction"></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="kt_tabs_2" role="tabpanel">
              <form class="kt-form">
                <div class="kt-portlet__body kt-padding-t-0">
                  <div
                    class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded course-schedule font-weight-400"
                    style="">
                    <table class="kt-datatable__table">
                      <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row">
                          <th class="kt-datatable__cell kt-datatable__cell--sort text-center week-day">工作日</th>
                          <th class="kt-datatable__cell kt-datatable__cell--sort text-center week-day-schedule">授课节次
                          </th>
                        </tr>
                      </thead>
                      <tbody class="kt-datatable__body">
                        <tr class="kt-datatable__row" v-for="courseSchedule in courseScheduleModel.dataList">
                          <td class="kt-datatable__cell text-center week-day" v-text="courseSchedule.weekday.dayText">
                          </td>
                          <td class="kt-datatable__cell text-center week-day-schedule">
                            <span v-for="course in courseSchedule.schedule"
                              v-text="course.orderText+'('+course.time+')'"></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="kt_tabs_3" role="tabpanel">
              <form class="kt-form">
                <div class="kt-portlet__body" style="padding-top: 0">
                  <div
                    class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded font-weight-400"
                    style="width: 85%; margin: 0 auto">
                    <table class="kt-datatable__table" style="display: block;">
                      <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0;">
                          <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">节次</th>
                          <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">技术</th>
                          <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 52%">所授知识点
                          </th>
                          <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 8%">状态</th>
                        </tr>
                      </thead>
                      <tbody class="kt-datatable__body">
                        <tr class="kt-datatable__row" style="left: 0;" v-for="coursePlan in coursePlanModel.dataList">
                          <td class="kt-datatable__cell text-center" style="width: 10%"
                            v-text="'第'+coursePlan.courseOrder+'节'"></td>
                          <td class="kt-datatable__cell text-center" style="width: 10%"
                            v-text="coursePlan.technologyName"></td>
                          <td class="kt-datatable__cell text-center" style="width: 52%">
                            <span v-for="knowledgeName in coursePlan.knowledgeNameArray" v-text="knowledgeName"></span>
                          </td>
                          <td class="kt-datatable__cell text-center" style="width: 8%">
                            <span class="kt-badge kt-badge--inline kt-badge--pill"
                              style="color: #ffffff; display: inline-flex; "
                              :class="{'kt-badge--primary': coursePlan.dataStatus == 'P', 'kt-badge--success': coursePlan.dataStatus == 'F'}"
                              v-text="coursePlan.dataStatusText">
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>


            </div>
            <div class="tab-pane" id="kt_tabs_4" role="tabpanel">
              <div class="alert alert-secondary" role="alert" v-if="courseStudentModel.totalCount == 0">
                <div class="alert-text text-center">
                  该课程暂时没有已报名的同学，还不去抢沙发。
                </div>
              </div>
              <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                style="width: 90%; margin: 0 auto" v-if="courseStudentModel.totalCount > 0">
                <table class="kt-datatable__table kt-datatable__row--hover table-hover" style="display: block;">
                  <thead class="kt-datatable__head">
                    <tr class="kt-datatable__row" style="left: 0;">
                      <th class="kt-datatable__cell">
                        <span style="width: 120px;">报名学生</span>
                      </th>
                      <th class="kt-datatable__cell">
                        <span style="width: 130px;">报名时间</span>
                      </th>
                      <th class="kt-datatable__cell">
                        <span style="width: 140px;">就读院校</span>
                      </th>
                      <th class="kt-datatable__cell">
                        <span style="width: 100px;">入学年份</span>
                      </th>
                      <th class="kt-datatable__cell">
                        <span style="width: 100px;">课程助教</span>
                      </th>
                      <th class="kt-datatable__cell">
                        <span style="width: 100px;">报名状态</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="kt-datatable__body" style="">
                    <tr class="kt-datatable__row" style="left: 0;" v-for="data in courseStudentModel.dataList">
                      <td class="kt-datatable__cell">
                        <span style="width: 120px;">
                          <div class="kt-user-card-v2">
                            <div class="kt-user-card-v2__pic">
                              <img class="kt-badge kt-badge--xl" :src="data.studentPhoto" alt="">
                            </div>
                            <div class="kt-user-card-v2__details">
                              <span class="kt-user-card-v2__name" v-text="data.studentName"></span>
                              <span class="kt-user-card-v2__desc" v-text="data.abilityLevel"
                                :class="{'ability-level-1': data.abilityLevel == 'L1', 'ability-level-2': data.abilityLevel == 'L2', 'ability-level-3': data.abilityLevel == 'L3', 'ability-level-4': data.abilityLevel == 'L4', 'ability-level-5': data.abilityLevel == 'L5', 'ability-level-6': data.abilityLevel == 'L6', 'ability-level-7': data.abilityLevel == 'L7', 'ability-level-8': data.abilityLevel == 'L8'}">
                              </span>
                            </div>
                          </div>
                        </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 130px;" v-text="data.createTime"></span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 140px;" v-text="data.studentUniversityName"></span>
                        <span style="width: 140px;" v-text="data.studentSchoolName"></span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 100px;" v-if="data.enrollmentYear !== ''" v-text="data.enrollmentYear+'年'"></span>
                        <span style="width: 100px;" v-if="data.enrollmentYear === ''"> </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 100px;">
                          <span class="kt-badge kt-badge--dot kt-badge--danger" v-if="data.assistant == 1"></span>&nbsp;
                          <span class="kt-font-bold v-texting kt-font-danger" v-if="data.assistant == 1">助教</span>
                        </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 100px;">
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                            :class="{'kt-badge--success': data.dataStatus == 'A', 'kt-badge--warning': data.dataStatus == 'C'}"
                            v-text="data.dataStatusText"></span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="kt-pagination kt-pagination--warning kt-pagination--circle kt-padding-25"
                  v-if="courseStudentModel.totalCount > 0">
                  <div class="kt-pagination__toolbar">
                    <span class="pagination__desc">
                      课程共有<span v-text="courseStudentModel.totalCount"></span>名同学报名, 当前显示第<span
                        v-text="courseStudentModel.fromIndex"></span>到第<span
                        v-text="courseStudentModel.toIndex"></span>名同学信息
                    </span>
                  </div>
                  <ul class="kt-pagination__links">
                    <li class="kt-pagination__link--first"
                      :class="{'pagination-disabled': courseStudentModel.prePageNum == -1}">
                      <a href="javascript:" @click="onStudentFirstPage"><i
                          class="fa fa-angle-double-left kt-font-primary"></i></a>
                    </li>
                    <li class="kt-pagination__link--next"
                      :class="{'pagination-disabled': courseStudentModel.prePageNum == -1}">
                      <a href="javascript:" @click="onStudentPrePage"><i
                          class="fa fa-angle-left kt-font-primary"></i></a>
                    </li>

                    <li v-for="pagination in courseStudentModel.paginationArray"
                      :class="{'kt-pagination__link--active': courseStudentModel.pageNumber == pagination}">
                      <a href="javascript:" v-text="pagination" @click="onStudentPagination(pagination)"></a>
                    </li>

                    <li class="kt-pagination__link--prev"
                      :class="{'pagination-disabled': courseStudentModel.nextPageNum == -1}">
                      <a href="javascript:" @click="onStudentNextPage"><i
                          class="fa fa-angle-right kt-font-primary"></i></a>
                    </li>
                    <li class="kt-pagination__link--last"
                      :class="{'pagination-disabled': courseStudentModel.nextPageNum == -1}">
                      <a href="javascript:" @click="onStudentLastPage"><i
                          class="fa fa-angle-double-right kt-font-primary"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="kt_tabs_8" role="tabpanel">
              <div class="kt-portlet__body" style="padding-top: 0">
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                  style="width: 85%; margin: 0 auto">
                  <table class="kt-datatable__table" style="display: block;">
                    <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0;">
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">节次</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">技术</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 45%">覆盖知识点
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 20%">习题库数量
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 15%">状态</th>
                      </tr>
                    </thead>
                    <tbody class="kt-datatable__body">
                      <tr class="kt-datatable__row" style="left: 0;" v-for="data in courseExercisesModel.dataList">
                        <td class="kt-datatable__cell text-center" style="width: 10%">第\{{data.courseClass}}节</td>
                        <td class="kt-datatable__cell text-center" style="width: 10%">\{{data.technologyName}}</td>
                        <td class="kt-datatable__cell text-center" style="width: 45%">
                          <span v-for="knowledge in data.knowledgeList" v-text="knowledge.knowledgeName">
                          </span>
                        </td>
                        <td class="kt-datatable__cell text-center" style="width: 20%">
                          <span v-if="data.exercisesTotalCount == 0">共计0个编程练习</span>
                          <a href="javascript:;" class="kt-widget__value kt-font-brand"
                            v-if="data.exercisesTotalCount > 0"
                            @click="onShowKnowledgeExercisesModal(data)">共计\{{data.exercisesTotalCount}}个编程练习</a>
                        </td>
                        <td class="kt-datatable__cell text-center" style="width: 15%">
                          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success"
                            style="color: #ffffff; display: inline-flex;" v-if="data.dataStatus === '2'">练习已下发</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary"
                            style="color: #ffffff;  display: inline-flex;" v-if="data.dataStatus === 'P'">练习未下发</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="kt_tabs_5" role="tabpanel">
              <div class="alert alert-secondary" role="alert" v-if="commonModel.loginUser == null">
                <div class="alert-text text-center">
                  同学，你还没有登陆，快去<a
                    :href="'/login?backUrl=/course/detail?universityCode=' + commonModel.universityCode + '&schoolID=' + commonModel.schoolID + '&courseID=' + commonModel.courseID">登陆</a>，开启你的专业之旅吧！
                </div>
              </div>

              <div class="alert alert-secondary" role="alert"
                v-if="commonModel.loginUser !== null && commonModel.applied == false">
                <div class="alert-text text-center">
                  同学，你还没有报名该课程，快去报名，开启你的专业之旅吧！
                </div>
              </div>

              <div v-if="commonModel.loginUser !== null && commonModel.applied == true">
                <div class="shs-search-bar shs-top-line shs-under-line kt-padding-5">
                  <form class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body kt-padding-0">
                      <div class="form-group row kt-margin-0">
                        <label class="col-form-label col-xl-1 col-sm-12 text-center">状态过滤：</label>
                        <div class="col-lg-4 col-md-9 col-sm-12 shs-padding-top-2">
                          <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                            :class="{'btn-primary': courseMyExercisesModel.filterStatus == 'NULL', 'btn-primary-hover-info': courseMyExercisesModel.filterStatus != 'NULL'}"
                            @click="onFilterCourseMyExercises('NULL')">
                            全部
                          </a>
                          <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                            :class="{'btn-primary': courseMyExercisesModel.filterStatus == 'P', 'btn-primary-hover-info': courseMyExercisesModel.filterStatus != 'P'}"
                            @click="onFilterCourseMyExercises('P')">
                            未练习
                          </a>
                          <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                            :class="{'btn-primary': courseMyExercisesModel.filterStatus == 'W', 'btn-primary-hover-info': courseMyExercisesModel.filterStatus != 'W'}"
                            @click="onFilterCourseMyExercises('W')">
                            待批改
                          </a>
                          <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                            :class="{'btn-primary': courseMyExercisesModel.filterStatus == 'R', 'btn-primary-hover-info': courseMyExercisesModel.filterStatus != 'R'}"
                            @click="onFilterCourseMyExercises('R')">
                            待修改
                          </a>
                          <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                            :class="{'btn-primary': courseMyExercisesModel.filterStatus == 'S', 'btn-primary-hover-info': courseMyExercisesModel.filterStatus != 'S'}"
                            @click="onFilterCourseMyExercises('S')">
                            已通过
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded">
                  <table class="kt-datatable__table" style="display: block;">
                    <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0px;">
                        <th class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 148px;">学生</span>
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 80px;">节次</span>
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 128px;">知识点</span>
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 148px;">练习题</span>
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 148px;">提交时间</span>
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 148px;">批改人</span>
                        </th>
                        <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 148px;">当前状态</span>
                        </th>
                        <th data-field="Actions" data-autohide-disabled="false"
                          class="kt-datatable__cell kt-datatable__cell--sort">
                          <span style="width: 110px;">操作</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="kt-datatable__body" style="">
                      <tr class="kt-datatable__row" style="left: 0px;" v-for="data in courseMyExercisesModel.dataList">
                        <td class="kt-datatable__cell">
                          <span style="width: 148px;">
                            <div class="kt-user-card-v2">
                              <div class="kt-user-card-v2__pic">
                                <img class="kt-badge kt-badge--xl" :src="data.studentPhoto">
                              </div>
                              <div class="kt-user-card-v2__details">
                                <span class="kt-user-card-v2__name" v-text="data.studentName"></span>
                                <span class="kt-user-card-v2__desc" v-text="data.abilityLevel"
                                  :class="{'ability-level-1': data.abilityLevel == 'L1', 'ability-level-2': data.abilityLevel == 'L2', 'ability-level-3': data.abilityLevel == 'L3', 'ability-level-4': data.abilityLevel == 'L4', 'ability-level-5': data.abilityLevel == 'L5', 'ability-level-6': data.abilityLevel == 'L6', 'ability-level-7': data.abilityLevel == 'L7', 'ability-level-8': data.abilityLevel == 'L8'}"></span>
                              </div>
                            </div>
                          </span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 80px;" v-text="'第' + data.courseClass + '节'"></span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 128px;" v-text="data.knowledgeName"></span>
                        </td>
                        <td data-field="ShipDate" class="kt-datatable__cell">
                          <span
                            style="width: 148px; max-width: 148px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <a :href="data.exercisesDocumentUrl" target="_blank" :title="data.exercisesDocumentUrl"
                              class="kt-widget4__title"
                              v-text="data.exercisesDocumentUrl.substr(data.exercisesDocumentUrl.lastIndexOf('/') + 1)"></a>
                          </span>
                        </td>
                        <td data-field="CompanyName" class="kt-datatable__cell">
                          <span style="width: 148px;" v-if="data.dataStatus == 'P'">&nbsp;</span>
                          <span style="width: 148px;" v-if="data.dataStatus != 'P'">
                            <a :href="data.sourceCodeGitUrl" target="_blank" style="width: 148px;"
                              v-text="data.updateTime"></a>
                          </span>
                        </td>
                        <td data-field="CompanyName" class="kt-datatable__cell">
                          <span style="width: 148px;" v-if="data.reviewerType == 'T'"
                            v-text="data.reviewerNameTeacher"></span>
                          <span style="width: 148px;" v-if="data.reviewerType == 'S'"
                            v-text="data.reviewerNameStudent"></span>
                          <span style="width: 148px;" v-if="data.reviewerType == null">&nbsp;</span>
                        </td>
                        <td data-field="Status" class="kt-datatable__cell">
                          <span style="width: 148px;">
                            <span class="kt-badge kt-badge--inline kt-badge--pill"
                              :class="{'kt-badge--primary': data.dataStatus == 'P', 'kt-badge--warning': data.dataStatus == 'W', 'kt-badge--danger': data.dataStatus == 'R', 'kt-badge--success': data.dataStatus == 'S'}"
                              v-text="data.dataStatusText">
                            </span>
                          </span>
                        </td>
                        <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                          <span v-if="data.dataStatus == 'P'" style="width: 110px;">
                            <a href="javascript:" title="提交练习" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                              @click="onShowExercisesCodeSourceModal(data)">
                              <i class="la la-edit"></i>
                            </a>
                          </span>
                          <span v-if="data.dataStatus == 'W' || data.dataStatus == 'S'" style="width: 110px;">
                            <a href="javascript:" title="批改历史" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                              @click="onShowReviewHistoryModal(data)">
                              <i class="la la-search"></i>
                            </a>
                          </span>
                          <span v-if="data.dataStatus == 'R'" style="width: 110px;">
                            <a href="javascript:" title="提交练习" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                              @click="onShowExercisesCodeSourceModal(data)">
                              <i class="la la-edit"></i>
                            </a>
                            <a href="javascript:" title="批改历史" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                              @click="onShowReviewHistoryModal(data)">
                              <i class="la la-search"></i>
                            </a>
                          </span>
                          <span style="overflow: visible; position: relative; width: 110px;"
                            v-if="data.dataStatus == 'P'">
                            &nbsp;
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="kt-pagination kt-pagination--warning kt-pagination--circle kt-padding-25"
                    v-if="courseMyExercisesModel.totalCount > 0">
                    <div class="kt-pagination__toolbar">
                      <span class="pagination__desc">
                        你共有<span v-text="courseMyExercisesModel.totalCount"></span>个知识点练习, 当前显示第<span
                          v-text="courseMyExercisesModel.fromIndex"></span>到第<span
                          v-text="courseMyExercisesModel.toIndex"></span>个练习题
                      </span>
                    </div>
                    <ul class="kt-pagination__links">
                      <li class="kt-pagination__link--first"
                        :class="{'pagination-disabled': courseMyExercisesModel.prePageNum == -1}">
                        <a href="javascript:" @click="onMyExercisesFirstPage"><i
                            class="fa fa-angle-double-left kt-font-primary"></i></a>
                      </li>
                      <li class="kt-pagination__link--next"
                        :class="{'pagination-disabled': courseMyExercisesModel.prePageNum == -1}">
                        <a href="javascript:" @click="onMyExercisesPrePage"><i
                            class="fa fa-angle-left kt-font-primary"></i></a>
                      </li>

                      <li v-for="pagination in courseMyExercisesModel.paginationArray"
                        :class="{'kt-pagination__link--active': courseMyExercisesModel.pageNumber == pagination}">
                        <a href="javascript:" v-text="pagination" @click="onMyExercisesPagination(pagination)"></a>
                      </li>

                      <li class="kt-pagination__link--prev"
                        :class="{'pagination-disabled': courseMyExercisesModel.nextPageNum == -1}">
                        <a href="javascript:" @click="onMyExercisesNextPage"><i
                            class="fa fa-angle-right kt-font-primary"></i></a>
                      </li>
                      <li class="kt-pagination__link--last"
                        :class="{'pagination-disabled': courseMyExercisesModel.nextPageNum == -1}">
                        <a href="javascript:" @click="onMyExercisesLastPage"><i
                            class="fa fa-angle-double-right kt-font-primary"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
            <div class="tab-pane" id="kt_tabs_6" role="tabpanel">
              <div class="shs-search-bar shs-top-line shs-under-line kt-padding-5">
                <div class="kt-portlet__body kt-padding-0">
                  <div class="form-group row kt-margin-0">
                    <label class="col-form-label col-md-1 text-center">状态过滤：</label>
                    <div class="col-md-5 shs-padding-top-2">
                      <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                        :class="{'btn-primary': courseOtherExercisesModel.filterStatus == 'NULL', 'btn-primary-hover-info': courseOtherExercisesModel.filterStatus != 'NULL'}"
                        @click="onFilterOtherCourseExercises('NULL')">
                        全部
                      </a>
                      <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                        :class="{'btn-primary': courseOtherExercisesModel.filterStatus == 'P', 'btn-primary-hover-info': courseOtherExercisesModel.filterStatus != 'P'}"
                        @click="onFilterOtherCourseExercises('P')">
                        未完成
                      </a>
                      <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                        :class="{'btn-primary': courseOtherExercisesModel.filterStatus == 'W', 'btn-primary-hover-info': courseOtherExercisesModel.filterStatus != 'W'}"
                        @click="onFilterOtherCourseExercises('W')">
                        待批改
                      </a>
                      <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                        :class="{'btn-primary': courseOtherExercisesModel.filterStatus == 'R', 'btn-primary-hover-info': courseOtherExercisesModel.filterStatus != 'R'}"
                        @click="onFilterOtherCourseExercises('R')">
                        待修改
                      </a>
                      <a href="javascript:" class="btn btn-elevate btn-square btn-sm"
                        :class="{'btn-primary': courseOtherExercisesModel.filterStatus == 'S', 'btn-primary-hover-info': courseOtherExercisesModel.filterStatus != 'S'}"
                        @click="onFilterOtherCourseExercises('S')">
                        已通过
                      </a>
                    </div>
                    <div class="col-md-6 shs-padding-top-2">
                      <div class="kt-input-icon kt-input-icon--right kt-pull-right" style="width: 300px">
                        <input type="text" class="form-control" v-model="courseOtherExercisesModel.studentName"
                          @keydown="onOtherExercisesKeydown($event)" placeholder="输入姓名，按姓名与状态联合查询">
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                          <span><i class="la la-search"></i></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                style="width: 100%; margin: 0 auto">
                <table class="kt-datatable__table" style="display: block;">
                  <thead class="kt-datatable__head">
                    <tr class="kt-datatable__row" style="left: 0px;">
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 140px;">学生</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 130px;">就读院校</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 60px;">节次</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 130px;">知识点</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 150px;">习题</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 120px;">提交时间</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 80px;">批改人</span>
                      </th>
                      <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 60px;">当前状态</span>
                      </th>
                      <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 100px;">操作</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="kt-datatable__body" style="">
                    <tr class="kt-datatable__row" style="left: 0;" v-for="data in courseOtherExercisesModel.dataList">
                      <td class="kt-datatable__cell">
                        <span style="width: 140px;">
                          <div class="kt-user-card-v2">
                            <div class="kt-user-card-v2__pic">
                              <img class="kt-badge kt-badge--xl" :src="data.studentPhoto">
                            </div>
                            <div class="kt-user-card-v2__details">
                              <span class="kt-user-card-v2__name" v-text="data.studentName"></span>
                              <span class="kt-user-card-v2__desc" v-text="data.abilityLevel"
                                :class="{'ability-level-1': data.abilityLevel == 'L1', 'ability-level-2': data.abilityLevel == 'L2', 'ability-level-3': data.abilityLevel == 'L3', 'ability-level-4': data.abilityLevel == 'L4', 'ability-level-5': data.abilityLevel == 'L5', 'ability-level-6': data.abilityLevel == 'L6', 'ability-level-7': data.abilityLevel == 'L7', 'ability-level-8': data.abilityLevel == 'L8'}"></span>
                            </div>
                          </div>
                        </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 130px;">
                          \{{data.studentUniversityName}} <br> \{{data.studentSchoolName}}
                        </span>
                      </td>

                      <td class="kt-datatable__cell">
                        <span style="width: 60px;">第\{{data.courseClass}}节</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 130px;" v-text="data.knowledgeName"></span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                          <a :href="data.exercisesDocumentUrl" target="_blank" :title="data.exercisesDocumentUrl"
                            class="kt-widget4__title"
                            v-text="data.exercisesDocumentUrl.substr(data.exercisesDocumentUrl.lastIndexOf('/') + 1)"></a>
                        </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 120px;" v-if="data.dataStatus == 'P'">&nbsp;</span>
                        <span style="width: 120px;" v-text="data.updateTime" v-if="data.dataStatus != 'P'"></span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 80px;" v-if="data.reviewerType == 'T'"
                          v-text="data.reviewerNameTeacher"></span>
                        <span style="width: 80px;" v-if="data.reviewerType == 'S'"
                          v-text="data.reviewerNameStudent"></span>
                        <span style="width: 80px;" v-if="data.reviewerType == null">&nbsp;</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 60px;">
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                            :class="{'kt-badge--primary': data.dataStatus == 'P', 'kt-badge--warning': data.dataStatus == 'W', 'kt-badge--danger': data.dataStatus == 'R', 'kt-badge--success': data.dataStatus == 'S'}"
                            v-text="data.dataStatusText">
                          </span>
                        </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span v-if="data.dataStatus == 'W'" style="width: 100px;">
                          <a href="javascript:" title="批改练习" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                            @click="onShowReview(data)">
                            <i class="la la-edit"></i>
                          </a>
                          <a href="javascript:" title="批改历史" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                            @click="onShowReviewHistoryModal(data)">
                            <i class="la la-search"></i>
                          </a>
                        </span>
                        <span v-if="data.dataStatus == 'R' || data.dataStatus == 'S'" style="width: 100px;">
                          <a href="javascript:" title="批改历史" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                            @click="onShowReviewHistoryModal(data)">
                            <i class="la la-search"></i>
                          </a>
                        </span>
                        <span style="overflow: visible; position: relative; width: 100px;"
                          v-if="data.dataStatus == 'P'">
                          &nbsp;
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="kt-pagination kt-pagination--warning kt-pagination--circle kt-padding-25"
                    v-if="courseOtherExercisesModel.totalCount > 0">
                    <div class="kt-pagination__toolbar">
                      <span class="pagination__desc">
                        共有<span v-text="courseOtherExercisesModel.totalCount"></span>名满足条件同学, 当前显示第<span
                          v-text="courseOtherExercisesModel.fromIndex"></span>到第<span
                          v-text="courseOtherExercisesModel.toIndex"></span>名同学的信息
                      </span>
                    </div>
                    <ul class="kt-pagination__links">
                      <li class="kt-pagination__link--first"
                        :class="{'pagination-disabled': courseOtherExercisesModel.prePageNum == -1}">
                        <a href="javascript:" @click="onOtherExercisesFirstPage"><i
                            class="fa fa-angle-double-left kt-font-primary"></i></a>
                      </li>
                      <li class="kt-pagination__link--next"
                        :class="{'pagination-disabled': courseOtherExercisesModel.prePageNum == -1}">
                        <a href="javascript:" @click="onOtherExercisesPrePage"><i
                            class="fa fa-angle-left kt-font-primary"></i></a>
                      </li>

                      <li v-for="pagination in courseOtherExercisesModel.paginationArray"
                        :class="{'kt-pagination__link--active': courseOtherExercisesModel.pageNumber == pagination}">
                        <a href="javascript:" v-text="pagination" @click="onOtherExercisesPagination(pagination)"></a>
                      </li>

                      <li class="kt-pagination__link--prev"
                        :class="{'pagination-disabled': courseOtherExercisesModel.nextPageNum == -1}">
                        <a href="javascript:" @click="onOtherExercisesNextPage"><i
                            class="fa fa-angle-right kt-font-primary"></i></a>
                      </li>
                      <li class="kt-pagination__link--last"
                        :class="{'pagination-disabled': courseOtherExercisesModel.nextPageNum == -1}">
                        <a href="javascript:" @click="onOtherExercisesLastPage"><i
                            class="fa fa-angle-double-right kt-font-primary"></i></a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="tab-pane" id="kt_tabs_7" role="tabpanel">
              <div class="kt-margin-b-15">
                <button type="button" class="btn btn-brand" @click="onShowQuestionModal">我要提问</button>
              </div>
              <div class="alert alert-secondary" role="alert" v-if="courseOnlineQuestionModel.totalCount == 0">
                <div class="alert-text text-center">
                  该课程暂时没有相关咨询的问题。
                </div>
              </div>
              <div class="kt-notes kt-scroll kt-scroll--pull ps ps--active-y"
                v-if="courseOnlineQuestionModel.totalCount > 0">
                <div class="kt-notes__items">
                  <div class="kt-notes__item" v-for="question in courseOnlineQuestionModel.dataList">
                    <div class="kt-notes__media">
                      <img :src="question.questionerPhoto" alt="">
                    </div>
                    <div class="kt-notes__content">
                      <div class="kt-notes__section">
                        <div class="kt-notes__info">
                          <span class="kt-notes__title" v-text="question.questionerName"></span>
                          <span class="kt-notes__desc" v-text="question.createTime"></span>
                          <span class="kt-badge kt-badge--success kt-badge--inline"
                            v-if="question.leaveMessageList.length > 0">已回复</span>
                        </div>
                        <div class="kt-notes__dropdown" v-if="commonModel.loginUser != null">
                          <a href="javascript:" title="在线回复" class="btn btn-sm btn-icon-md btn-icon"
                            v-if="commonModel.loginUser != null" @click="onShowLeaveMessageModal(question)">
                            <i class="fa fa-comment-dots kt-font-brand"></i>
                          </a>
                        </div>
                      </div>
                      <span class="kt-notes__body">
                        <p class="question" v-html="question.questionContent"></p>
                        <div class="leave-message" v-for="leaveMessage in question.leaveMessageList"
                          style="padding-top: 10px; border-bottom: 1px dashed #cccccc">
                          <span v-text="leaveMessage.commenterName"></span>
                          <span v-text="leaveMessage.commenterTypeText"></span>
                          &nbsp;
                          <span v-text="leaveMessage.createTime"></span> <br>
                          <p v-html="leaveMessage.messageContent"></p>
                        </div>
                      </span>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn btn-link"
                      v-if="courseOnlineQuestionModel.totalCount > 0 && courseOnlineQuestionModel.dataList.length < courseOnlineQuestionModel.totalCount"
                      @click="onLoadMoreCourseQuestion()">
                      + 点击加载更多
                    </button>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_question_message" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="leaveMessageForm">
            <div class="modal-header">
              <h5 class="modal-title">
                提交问题
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <textarea class="form-control" maxlength="1000" rows="10" v-model="studentQuestionModel.question"
                    placeholder="输入你的问题（最多1000字）"></textarea>
                  <div class="invalid-feedback" v-if="studentQuestionModel.showAlert">请输入你的问题</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="btnSubmitQuestion" @click="onSubmitQuestion">
                提交
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_leave_message" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="leaveMessageForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" v-text="'回复' + leaveMessageModel.questionerName + '的问题'">
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <textarea class="form-control" maxlength="1000" rows="10" v-model="leaveMessageModel.messageContent"
                    placeholder="回复内容（最多1000字）"></textarea>
                  <div class="invalid-feedback" v-if="leaveMessageModel.showAlert">请输入回复内容</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="btnSubmitAnswerMessage" @click="onSubmitAnswerMessage">
                回复
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_review_list" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"
              v-text="'共计' + reviewHistoryModel.totalCount + '条批改历史(' + reviewHistoryModel.exercisesName + ')' "></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="kt-notes">
              <div class="kt-notes__items">
                <div class="kt-notes__item" v-for="review in reviewHistoryModel.dataList">
                  <div class="kt-notes__media">
                    <img :src="review.reviewerPhoto" alt="image">
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a href="javascript:" class="kt-notes__title" v-text="review.reviewerName"></a>
                        <span class="kt-notes__desc" v-text="review.createTime"></span>
                      </div>
                    </div>
                    <span class="kt-notes__body">
                      <div class="row">
                        <div class="col-md-6">
                          <span class="kt-font-bold">编译结果：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                            :class="{'kt-badge--danger': review.compilationResult == 'N', 'kt-badge--success': review.compilationResult == 'S'}"
                            v-text="review.compilationResultText">
                          </span>
                        </div>
                        <div class="col-md-6">
                          <span class="kt-font-bold">运行结果：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                            :class="{'kt-badge--danger': review.runResult == 'N', 'kt-badge--success': review.runResult == 'S'}"
                            v-text="review.runResultText">
                          </span>
                        </div>
                      </div>
                      <div class="space-5"></div>
                      <div class="row">
                        <div class="col-md-6">
                          <span class="kt-font-bold">编码规范：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                            :class="{'kt-badge--danger': review.codeStandardResult == 'N', 'kt-badge--success': review.codeStandardResult == 'S'}"
                            v-text="review.codeStandardResultText">
                          </span>
                        </div>
                        <div class="col-md-6">
                          <span class="kt-font-bold">综合结果：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                            :class="{'kt-badge--danger': review.reviewResult == 'N', 'kt-badge--success': review.reviewResult == 'S'}"
                            v-text="review.reviewResultText">
                          </span>
                        </div>
                      </div>
                      <div class="space-5"></div>
                      <div class="row">
                        <div class="col-md-12">
                          <span class="kt-font-bold">编码规范问题：</span>
                          <div class="kt-list-timeline">
                            <div class="kt-list-timeline__items">
                              <div class="kt-list-timeline__item" v-for="codeStandard in review.codeStandardErrorList">
                                <span class="kt-list-timeline__badge"></span>
                                <span class="kt-list-timeline__text" v-text="codeStandard.codeStandardName"></span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="space-5"></div>

                      <div class="row">
                        <div class="col-md-12">
                          <span class="kt-font-bold">批改评语：</span>
                          <p v-text="review.reviewMemo" class="pre-wrap"></p>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="text-center"
                  v-if="courseStudentModel.totalCount > 0 && courseStudentModel.dataList.length < courseStudentModel.totalCount">
                  <button type="button" class="btn btn-link" @click="onLoadMoreReviewHistory()">
                    + 加载更多
                  </button>
                </div>
              </div>
            </div>

            <div class="alert alert-secondary" role="alert" v-if="courseStudentModel.totalCount == 0">
              <div class="alert-text">
                该习题暂没有批改历史！
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_resource_uri" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" v-text="'请填写代码地址('+ exercisesGitModel.exercisesName + ')'">
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <input type="url" class="form-control" v-model="exercisesGitModel.sourceCodeGitUrl"
              placeholder="https://github.com/xxxxxx/xxxxxx.git">
            <div class="invalid-feedback" v-if="exercisesGitModel.showAlert">请填写代码地址（Git）</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" @click="submitSourceCodeGitUrl">提交</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_review" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">练习批改</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body shs-form-label">
            <div class="row">
              <div class="col-md-6">
                <div class="kt-section">
                  <h3 class="kt-section__title">
                    学生信息
                  </h3>
                  <div class="kt-section__content">
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>姓名：</span>
                      </div>
                      <div class="col-9">
                        <span v-text="reviewModel.studentName"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>院校：</span>
                      </div>
                      <div class="col-9">
                        <span v-text="reviewModel.studentUniversityName + ' ' + reviewModel.studentSchoolName"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>练习内容：</span>
                      </div>
                      <div class="col-9">
                        <span
                          v-text="reviewModel.technologyName + ' ' + reviewModel.learningPhaseName + ' ' + reviewModel.knowledgeName"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>练习作业：</span>
                      </div>
                      <div class="col-9">
                        <a :href="reviewModel.exercisesDocumentUrl" target="_blank"
                          class="kt-widget__username kt-font-brand kt-link kt-font-bold"
                          v-text="reviewModel.exercisesDocumentName">
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>提交时间：</span>
                      </div>
                      <div class="col-9">
                        <span v-text="reviewModel.sourceCodeSubmitTime"></span> &nbsp;
                        <a :href="reviewModel.sourceCodeGitUrl" target="_blank"
                          class="kt-widget__username kt-font-brand kt-link kt-font-bold">
                          查看练习
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kt-separator kt-separator--dashed"></div>
                <div class="kt-section">
                  <h3 class="kt-section__title">
                    练习批改
                  </h3>
                  <div class="kt-section__content">
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>编译结果：</span>
                      </div>
                      <div class="col-9">
                        <div class="kt-radio-inline">
                          <label class="kt-radio">
                            <input type="radio" name="compilation" value="1"
                              :checked="reviewModel.compilationResult == 1" v-model="reviewModel.compilationResult"> 成功
                            <span></span>
                          </label>
                          <label class="kt-radio">
                            <input type="radio" name="compilation" value="0"
                              :checked="reviewModel.compilationResult == 0" v-model="reviewModel.compilationResult"> 失败
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>运行结果：</span>
                      </div>
                      <div class="col-9">
                        <div class="kt-radio-inline">
                          <label class="kt-radio">
                            <input type="radio" name="run" value="1" :checked="reviewModel.runResult == 1"
                              v-model="reviewModel.runResult"> 正确
                            <span></span>
                          </label>
                          <label class="kt-radio">
                            <input type="radio" name="run" value="0" :checked="reviewModel.runResult == 0"
                              v-model="reviewModel.runResult"> 错误
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <a href="javascript:" class="kt-widget__username kt-font-brand kt-link kt-font-bold">代码规范：</a>
                      </div>
                      <div class="col-9">
                        <div class="kt-radio-inline">
                          <label class="kt-radio">
                            <input type="radio" name="codeStandard" value="1"
                              :checked="reviewModel.codeStandardResult == 1" v-model="reviewModel.codeStandardResult">
                            很好
                            <span></span>
                          </label>
                          <label class="kt-radio">
                            <input type="radio" name="codeStandard" value="0"
                              :checked="reviewModel.codeStandardResult == 0" v-model="reviewModel.codeStandardResult">
                            不规范
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>综合评定：</span>
                      </div>
                      <div class="col-9">
                        <div class="kt-radio-inline">
                          <label class="kt-radio">
                            <input type="radio" name="result" value="1" :checked="reviewModel.reviewResult == 1"
                              v-model="reviewModel.reviewResult"> 通过
                            <span></span>
                          </label>
                          <label class="kt-radio">
                            <input type="radio" name="result" value="0" :checked="reviewModel.reviewResult == 0"
                              v-model="reviewModel.reviewResult"> 不通过
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 text-right">
                        <span>批改评语：</span>
                      </div>
                      <div class="col-9">
                        <textarea class="form-control" name="reviewMemo" rows="5" maxlength="500"
                          v-model="reviewModel.reviewMemo"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="kt-section">
                  <h3 class="kt-section__title">
                    请选择代码存在的编码规范问题
                  </h3>
                  <div class="kt-section__content">
                    <div class="kt-checkbox-list" style="margin-top: 15px">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--danger"
                        v-for="codeStandard in reviewModel.codeStandardList">
                        <input type="checkbox" name="codeStandard" :value="codeStandard.codeStandardID"
                          v-model="reviewModel.codeStandardErrorList">
                        \{{codeStandard.codeStandardName}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="btnReviewSubmit" @click="onReviewSubmit">提交批改结果</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_knowledge_exercises" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-text="'第'+knowledgeExercisesModel.courseClass+'节课练习题'"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="kt-portlet ">
              <div class="kt-portlet__body">
                <!--begin::Accordion-->
                <div class="accordion accordion-light accordion-svg-icon">

                  <div class="card" v-for="(knowledge,index) in knowledgeExercisesModel.dataList">
                    <div class="card-header" :id="'headingOne'+ index">
                      <div class="card-title collapsed" data-toggle="collapse" :data-target="'#collapseOne' + index">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path
                              d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                              fill="#000000" fill-rule="nonzero"></path>
                            <path
                              d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3"
                              transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) ">
                            </path>
                          </g>
                        </svg>
                        <span v-text="knowledge.knowledgeName"></span>
                      </div>
                    </div>
                    <div :id="'collapseOne' + index" class="collapse">
                      <div class="card-body">
                        <div class="kt-widget4" v-for="knowledgeExercises in knowledge.knowledgeExercisesList">
                          <div class="kt-widget4__item">
                            <div class="kt-widget4__pic kt-widget4__pic--icon">
                              <img src="/media/files/pdf.svg" alt="">
                            </div>
                            <a :href="knowledgeExercises.documentUrl" target="_blank" class="kt-widget4__title"
                              v-text="knowledgeExercises.documentUrl.substr(knowledgeExercises.documentUrl.lastIndexOf('/') + 1)">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/courseDetail.js');
  });
</script>